.item {
  position: relative;
  cursor: drag;
  z-index: 999;
  background-color: white;
}

.dark-mode .items > * {
  background-color: #000000;
  color: white;
}

.dark-mode .items > *:hover {
  background-color: #191919;
}